In [4]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [ ]:
# Detect fraud

In [6]:
df = pd.read_csv('fraud detection.csv')

In [8]:
df.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,D12,D13,D14,D15,M1,M2,M3,M4,M5,M6
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,0.0,T,T,T,M2,F,T
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,M0,T,T
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,315.0,T,T,T,M0,F,F
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,111.0,NaN,NaN,NaN,M0,T,F
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.describe()

,TransactionID,isFraud,TransactionDT,TransactionAmt,card1,card2,card3,card5,addr2,dist1,...,D6,D7,D8,D9,D10,D11,D12,D13,D14,D15
count,9.999000e+03,9999.000000,9999.000000,9999.000000,9999.000000,9880.000000,9998.000000,9977.000000,9086.000000,3385.000000,...,491.000000,223.000000,1100.000000,1100.000000,8734.000000,2276.000000,406.000000,280.000000,450.000000,5069.000000
mean,2.991999e+06,0.026503,186896.819582,131.539419,9826.242024,349.292713,152.734247,200.319435,87.006934,115.919055,...,74.743381,52.304933,144.862121,0.509394,127.285894,157.014499,53.746305,20.796429,45.497778,196.157033
std,2.886607e+03,0.160633,56561.416909,215.146070,4776.491455,157.767231,10.195885,39.086790,0.249725,345.116513,...,148.915972,98.956476,225.789486,0.328748,166.680034,164.419876,114.578205,67.160734,118.277358,184.931821
min,2.987000e+06,0.000000,86400.000000,1.896000,1011.000000,100.000000,100.000000,100.000000,87.000000,0.000000,...,-83.000000,0.000000,0.000000,0.000000,0.000000,-33.000000,-83.000000,0.000000,-193.000000,-83.000000
25%,2.989500e+06,0.000000,146625.500000,44.000000,6386.500000,194.000000,150.000000,166.000000,87.000000,3.000000,...,0.000000,0.000000,1.666666,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000
50%,2.991999e+06,0.000000,171642.000000,74.950000,9500.000000,327.000000,150.000000,226.000000,87.000000,8.000000,...,0.000000,5.000000,38.145832,0.625000,29.000000,90.000000,0.000000,0.000000,0.000000,147.000000
75%,2.994498e+06,0.000000,240106.000000,131.116000,13780.000000,500.000000,150.000000,226.000000,87.000000,26.000000,...,49.500000,39.500000,199.281246,0.791666,233.000000,301.000000,13.750000,0.000000,0.000000,391.000000
max,2.996998e+06,1.000000,313110.000000,3247.910000,18390.000000,600.000000,225.000000,237.000000,96.000000,4474.000000,...,695.000000,407.000000,1123.916626,0.958333,695.000000,488.000000,479.000000,367.000000,696.000000,695.000000

In [10]:
from pandas_profiling import ProfileReport

In [11]:
# profile = ProfileReport(df,title="Pandas Profiling Report")

In [12]:
# profile.to_file(output_file = 'fraud.html')

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=65.0, style=ProgressStyle(descripâ€¦

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(â€¦

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wiâ€¦

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(descâ€¦

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 51 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   TransactionID   9999 non-null   int64
 1   isFraud         9999 non-null   int64
 2   TransactionDT   9999 non-null   int64
 3   TransactionAmt  9999 non-null   float64
 4   ProductCD       9999 non-null   object
 5   card1           9999 non-null   int64
 6   card2           9880 non-null   float64
 7   card3           9998 non-null   float64
 8   card4           9998 non-null   object
 9   card5           9977 non-null   float64
 10  card6           9998 non-null   object
 11  addr2           9086 non-null   float64
 12  dist1           3385 non-null   float64
 13  dist2           378 non-null    float64
 14  P_emaildomain   7894 non-null   object
 15  R_emaildomain   1625 non-null   object
 16  C1              9999 non-null   int64
 17  C2              9999 non-null   int64
 18  C3              9999 non-null   int64
 19  C4              9999 non-null   int64
 20  C5              9999 non-null   int64
 21  C6              9999 non-null   int64
 22  C7              9999 non-null   int64
 23  C8              9999 non-null   int64
 24  C9              9999 non-null   int64
 25  C10             9999 non-null   int64
 26  C11             9999 non-null   int64
 27  C12             9999 non-null   int64
 28  C13             9999 non-null   int64
 29  C14             9999 non-null   int64
 30  D1              9999 non-null   int64
 31  D2              5423 non-null   float64
 32  D3              5727 non-null   float64
 33  D4              3769 non-null   float64
 34  D5              2768 non-null   float64
 35  D6              491 non-null    float64
 36  D7              223 non-null    float64
 37  D8              1100 non-null   float64
 38  D9              1100 non-null   float64
 39  D10             8734 non-null   float64
 40  D11             2276 non-null   float64
 41  D12             406 non-null    float64
 42  D13             280 non-null    float64
 43  D14             450 non-null    float64
 44  D15             5069 non-null   float64
 45  M1              4209 non-null   object
 46  M2              4209 non-null   object
 47  M3              4209 non-null   object
 48  M4              5113 non-null   object
 49  M5              4206 non-null   object
 50  M6              7427 non-null   object
dtypes: float64(21), int64(19), object(11)
memory usage: 3.9+ MB

In [ ]:
#Missing value handling

In [16]:
missing_val= df.isnull().sum()
missing_val_per = df.isnull().sum()/df.shape[0]*100

TypeError: unsupported operand type(s) for /: 'int' and 'str'